@model Where2PayLogin.ViewModels.AddUsersBillerViewModel

<h1>Add Account Information</h1>

<form asp-controller="User" asp-action="Add" method="post">

    <input type="hidden" name="UserId" value="@Model.UserId" />
    @*ALLOWS MENU ID TO BE SUBMITTED AS FORM DATA, WITHOUT RENDERING*@
    @*TYPE=HIDDEN, SO USER DOES NOT SEE, BUT IS USED IN PROCESSING*@

    <div class="form-group">
        <label asp-for="BillerID"></label>
        <select asp-for="BillerID" asp-items="Model.AvailableBillers"></select>
        @*RENDERS DROPDOWN LIST FROM AGENTCONTROLLER.ADDITEM RENDERING ACTION*@
        <span asp-validation-for="BillerID"></span>
    </div>

    <div class="form-group">
        <label asp-for="BillerDescription"></label>
        <input class="form-control" asp-for="BillerDescription" />
        <span asp-validation-for="BillerDescription"></span>
    </div>
    <div class="form-group">
        <label asp-for="UsersAccountNumber"></label>
        <input class="form-control" asp-for="UsersAccountNumber" />
        <span asp-validation-for="UsersAccountNumber"></span>
    </div>
    
    <input type="submit" value="Add New Account" />
</form>