@model Where2PayLogin.ViewModels.ViewUsersBillersViewModel

<h1>Your Billers</h1>
<h4>This page is for Managing a Users Biller List</h4>

@if (Model.UsersBillerInfo.Count == 0)
{
    <p><h2>No Billers yet!</h2></p>
}

<table class="table">

    <tr>
        <th>Biller</th>
        <th>Description</th>
        <th>Account Number</th>
        <th>Where2Pay</th>
    </tr>

    @foreach (var userBiller in Model.UsersBillerInfo)
    {
        <tr>
            <td>@userBiller.BillerName</td>
            <td>@userBiller.BillerDescription</td>
            <td>@userBiller.UsersAccountNumber</td>
            <td>WHERE2PAY BUTTON</td>
        </tr>
    }
</table>

<p><a asp-area="" asp-controller="User" asp-action="Add">Add Biller</a></p>
<p><a asp-area="" asp-controller="User" asp-action="RemoveUsersBiller">Remove Biller(s)</a></p>